
div{
    user-select:none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width:100vw;
    height:100vh;
}

.body-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


form {
    border: 3px solid #f1f1f1;
}



    /* Добавить эффект наведения для кнопок */
    button:hover {
        opacity: 0.8;
    }

/* Дополнительный стиль для кнопки отмены (красный) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}



/* Текст "Забыли пароль" */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Измените стили для кнопки span и cancel на очень маленьких экранах */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.lh {
    line-height: 1;
}

.nav-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}






.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url('fon.png');
    background-repeat: no-repeat;
    background-size: cover;
    user-select:none;
}




/* Добавить отступы для контейнеров */
.login-inner-container {
    padding: 0px;
    margin: 0px;
}


.login-form {
    border: 0;
    letter-spacing: 1.5px;
}

.header-text{
    color:white;
    padding:15px;
}

.s3{
    font-size:13px;
}

.s4 {
    font-size: 18px;
}


.s5{
    font-size:24px;
}

.naming {
    padding: 0 0 25px 420px;
    margin: 0px;
    z-index:1;
}


.inner-container {
    padding: 50px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(102, 75, 208, 0.3);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    backdrop-filter: blur(1px);
    overflow: hidden;
}

.inputs-container {
    margin: 10px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Входы полной ширины */
input[type=text], input[type=password] {
    padding: 10px 30px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 11px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    border: 0;
    font-size: 15px;
    letter-spacing: 1px;
}

    input[type=password]::-webkit-input-placeholder {
        color: rgb(158, 158, 158);
    }

    input[type=text]::-webkit-input-placeholder {
        color: rgb(158, 158, 158);
    }

/* Установите стиль для всех кнопок */
.login-button {
    background-color: #664BD0;
    color: white;
    padding: 10px 50px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 11px;
    letter-spacing: 1px;
}

#register {
    font-size: 14px;
    background-color: #513ca6;
}







.circle {
    position:absolute;
    width:200px;
    height:200px;
    background-color: #664BD0;
    border-radius:100%;
}


#c1 {
    width: 230px;
    height: 230px;
    top: 8%;
    left: -25%;
}

#c2 {
    bottom: -25%;
    right: -15%;
}


.tar{
    text-align:right;
}

.navbar {
    height: 50px;
    min-width: 100vw;
    background: linear-gradient(90deg, #7F60FD, #503BA1);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin:5px;
}

.v-line {
    padding:15px 1px 15px 1px;
    margin:5px 5px 5px 7px;
    background: white;
}

.button-projects {
    background: #7E61F4;
    padding: 8px 20px 8px 20px;
    font-size: 13px;
}

.naming-project {
    letter-spacing: 1.5px;
}

.nav-container{
    margin-left: 10px;
    margin-right: 10px;
}

.button-exit {
    width: 40px;
    height: 30px;
    background: transparent;
    border: 0;
}

.img-exit{
    width:100%;
    height:100%;
}


.body-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
}

.main-container {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 4fr 1fr;
}

.main-container-select {
    display: grid;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.canvas-container {
    padding: 0px;
}

#canvas {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
}


.messanger-container {
    height: 100%;
    width: 100%;
    min-width: 300px;
    background: red;
}


.instrument-container {
    position: absolute;
    top: 50%;
    height: auto;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    margin-left: 20px;
    z-index: 2;
    transform: translate(0%, -50%);
}


.instrument {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
}

.instrument:hover {
    background: rgb(218, 218, 218);
    border-radius: 10px;
}

.instrument-img {
    height: 100%;
    width: 100%;
}



.zoom-container {
    position: absolute;
    display: flex;
    align-items:center;
    width: auto;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    margin-bottom: 20px;
    bottom:0%;
    margin-left: 20px;
    z-index: 2;
    flex-wrap:wrap;
}

.r180{
    transform:rotate(180deg);
}

.zoom {
    color: #7E61F4;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin: 5px;
}

.zoom:hover {
    background: rgb(218, 218, 218);
    border-radius: 10px;
}

.zoom-text {
    color: #7E61F4;
}



.messanger-container {
    display: grid;
    grid-template-rows: 1fr 14fr 2fr;
    grid-template-columns: auto;
}


.info-container {
    display: flex;
    background: white;
    box-shadow:0px 1px 3px rgba(0,0,0,0.1);
    z-index:1;
}

.panel-container {
    background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}

.messages-container {
    background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}

.submit-container {
    display: flex;
    flex-flow: column;
    background: white;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.1);
    align-content: center;
    justify-content: center;
}



.input-message {
    margin: 10px;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    letter-spacing: 0.5px;
    color: dimgray;
    background: rgba(0,0,0,0.1);
}


.button-message {
    margin: 10px;
    padding: 5px;
    background: #7E61F4;
    color: white;
    border-radius: 10px;
    border: 0;
    letter-spacing: 1px;
}


.main-container-select {
    align-content: center;
}



.selection-container {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    align-content:center;
    justify-content:center;
    align-items: center;
}





.project-label-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.project-label {
    text-align:center;
    color: #7E61F4;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}


.project-add {
    margin-left: 20px;
    padding: 13px;
    background: #7E61F4;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
    line-height:0.5;
}

.project-add:hover {
    background: #a090e0;
    color: white;
}


.project-container {
    display: flex;
    flex-flow: row;
    border: 2px solid rgba(126, 97, 244, 0.5);
    border-radius: 10px;
}

.project-img {
    height: 25px;
    width: 25px;
}

.project-share {
    display:flex;
    margin: 10px;
    padding:15px;
    background: #7E61F4;
    border-radius: 10px;
    transition: 0.3s;
    align-items:center;
    justify-content:center;
}

.project-share:hover {
    background: #a090e0;
    color: white;
}



.project {
    margin: 10px;
    padding: 20px;
    background: #7E61F4;
    color: white;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
    line-height: 1;
}

.project:hover {
    background: #a090e0;
    color: white;
}