@page
@model IndexModel
@{
    ViewData["Title"] = "Projects | TaskNexus";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @section Header{

    }

    @foreach (var item in Model.WeatherForecastDtos)
    {
        <p>@item.TemperatureF</p>
    }

    @{
        if (Model.canLogin.isLogin) Response.Redirect("/Login");
    }

    @section Footer {

    }


</div>
