
@page
@model LoginModel

@{
	ViewData["Title"] = "Login | TaskNexus";
}
@section Header {
}

<div class="login-container">
    <div class="login-inner-container">
        <div class="login-form">
            <div class="inner-container">
                <div class="header-text s3">ПАНЕЛЬ УПРАВЛЕНИЯ</div>
                <div class="header-text s5">АВТОРИЗАЦИЯ</div>
                <div class="inputs-container">
                    <input id="login-input" class="inputs" type="text" placeholder="ПОЧТА" name="uname" required>
                    <input id="password-input" class="inputs" type="password" placeholder="ПАРОЛЬ" name="psw" required>
                    <button onclick="login()" class="login-button"  type="submit">ВОЙТИ</button>
                    <button class="login-button" onclick="window.location.href='/Register'" id="register">
                        РЕГИСТРАЦИЯ
                    </button>
                </div>

                <div class="header-text s3 naming lh">TASK</br>NEXUS</div>

                <div class="circle" id="c1"></div>
                <div class="circle" id="c2"></div>
            </div>
        </div>
    </div>

</div>


@section Footer {
}

@section Scripts {
    <script>
        function login() {
            var t1 = document.getElementById("login-input").value
            var t2 = document.getElementById("password-input").value

            let json = {
                login: document.getElementById("login-input").value,
                password: document.getElementById("password-input").value
            }

            if (t1 != "" && t2 != "") {
                HttpRequestPost('GetLogin', function (request) {

                    if (request.answer != "False") {
                        sessionStorage.setItem('sessionId', request.answer);
                        alert(request.answer)
                        window.location.href = '/Select'
                    }

                }, json)
            }
        }

    </script>
}