﻿
@page
@model ProjectModel

@{
    ViewData["Title"] = "[NameProject] | TaskNexus";
}

<div class="bar-line" >
    <div class="bar-line__left"></div>

    <div class="bar-line__right">        
            <div class="chat-box"></div>
        
        <form>
            <input type="text" class="width-filter" placeholder="Отправить сообщение" >
        </form>
    </div>
</div>